---
theme :
  name : twitter
---
{% include facebook-init.html %}
{% include JB/setup %}
{% include themes/twitter/default.html %}

<div class="fb-page" data-href="https://www.facebook.com/dykkergruppa/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/dykkergruppa/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/dykkergruppa/">NTNUI Dykkergruppa</a></blockquote></div>